<div class="memo-container">
 

  <div class="content-wrapper">
    <div class="tab-buttons">
      <button 
        class="tab-button" 
        [class.active]="view === 'credit'"
        (click)="showCredit()">
        <i class="bi bi-plus-circle"></i>
        Credit Memos
      </button>
      <button 
        class="tab-button" 
        [class.active]="view === 'debit'"
        (click)="showDebit()">
        <i class="bi bi-dash-circle"></i>
        Debit Memos
      </button>
    </div>

    <div class="memo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>